In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import statsmodels.formula.api as smf
import statsmodels.api as sm
from scipy.stats import t

import warnings
warnings.filterwarnings('ignore')

计算top20的航班数量的origin，在疫情前中后的载客量占总载客量的比例

In [2]:
filtered_data=pd.read_csv("filtered_com_major_final.csv")
filtered_data

,Unnamed: 0,callsign,typecode,origin,destination,firstseen,lastseen,day,Olatitude,Olongitude,Dlatitude,Dlongitude
0,0,CES219,A332,YSSY,EDDF,2018-12-31 01:05:29+00:00,2019-01-01 04:09:29+00:00,2019-01-01 00:00:00+00:00,-33.9461,151.17700,50.0333,8.57056
1,1,AEA040,A332,LEMD,LEMD,2018-12-31 01:07:21+00:00,2019-01-01 03:32:59+00:00,2019-01-01 00:00:00+00:00,40.4719,-3.56264,40.4719,-3.56264
2,2,CXA825,B788,YSSY,LFPG,2018-12-31 01:18:29+00:00,2019-01-01 04:32:28+00:00,2019-01-01 00:00:00+00:00,-33.9461,151.17700,49.0097,2.54778
3,3,CLU211,B744,UUEE,EDDF,2018-12-31 01:49:28+00:00,2019-01-01 04:11:38+00:00,2019-01-01 00:00:00+00:00,55.9728,37.41470,50.0333,8.57056
4,4,ETH704,B788,KLDJ,LFPG,2018-12-31 03:31:48+00:00,2019-01-01 04:30:10+00:00,2019-01-01 00:00:00+00:00,40.6174,-74.24460,49.0097,2.54778
...,...,...,...,...,...,...,...,...,...,...,...,...
24187788,24187788,JZA5,DH8D,CYOW,CYUL,2022-12-31 23:28:14+00:00,2022-12-31 23:53:59+00:00,2022-12-31 00:00:00+00:00,45.3225,-75.66920,45.4657,-73.74550
24187789,24187789,PDT6131,E145,KMDT,KPHL,2022-12-31 23:29:15+00:00,2022-12-31 23:50:46+00:00,2022-12-31 00:00:00+00:00,40.1935,-76.76340,39.8719,-75.24110
24187790,24187790,JZA319,DH8D,CYQQ,CYVR,2022-12-31 23:30:43+00:00,2022-12-31 23:51:42+00:00,2022-12-31 00:00:00+00:00,49.7108,-124.88700,49.1939,-123.18400
24187791,24187791,ENY3800,E145,KORD,KCMI,2022-12-31 23:30:50+00:00,2022-12-31 23:56:58+00:00,2022-12-31 00:00:00+00:00,41.9786,-87.90470,40.0392,-88.27810
24187792,24187792,VTE565,E145,KMQY,KBNA,2022-12-31 23:34:30+00:00,2022-12-31 23:47:15+00:00,2022-12-31 00:00:00+00:00,36.0090,-86.52010,36.1245,-86.67820

In [3]:
columns_to_drop = ['Unnamed: 0','destination','Unnamed: 0','firstseen','lastseen','Olatitude','Olongitude','Dlatitude','Dlongitude']
filtered_data = filtered_data.drop(columns=columns_to_drop)
filtered_data

         callsign typecode origin                        day
0          CES219     A332   YSSY  2019-01-01 00:00:00+00:00
1          AEA040     A332   LEMD  2019-01-01 00:00:00+00:00
2          CXA825     B788   YSSY  2019-01-01 00:00:00+00:00
3          CLU211     B744   UUEE  2019-01-01 00:00:00+00:00
4          ETH704     B788   KLDJ  2019-01-01 00:00:00+00:00
...           ...      ...    ...                        ...
24187788     JZA5     DH8D   CYOW  2022-12-31 00:00:00+00:00
24187789  PDT6131     E145   KMDT  2022-12-31 00:00:00+00:00
24187790   JZA319     DH8D   CYQQ  2022-12-31 00:00:00+00:00
24187791  ENY3800     E145   KORD  2022-12-31 00:00:00+00:00
24187792   VTE565     E145   KMQY  2022-12-31 00:00:00+00:00

[24187793 rows x 4 columns]

In [6]:
filtered_data['DateTime'] = pd.to_datetime(filtered_data['day'])
filtered_data['Date'] = filtered_data['DateTime'].dt.date

In [7]:
filtered_data

,callsign,typecode,origin,day,DateTime,Date
0,CES219,A332,YSSY,2019-01-01 00:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01
1,AEA040,A332,LEMD,2019-01-01 00:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01
2,CXA825,B788,YSSY,2019-01-01 00:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01
3,CLU211,B744,UUEE,2019-01-01 00:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01
4,ETH704,B788,KLDJ,2019-01-01 00:00:00+00:00,2019-01-01 00:00:00+00:00,2019-01-01
...,...,...,...,...,...,...
24187788,JZA5,DH8D,CYOW,2022-12-31 00:00:00+00:00,2022-12-31 00:00:00+00:00,2022-12-31
24187789,PDT6131,E145,KMDT,2022-12-31 00:00:00+00:00,2022-12-31 00:00:00+00:00,2022-12-31
24187790,JZA319,DH8D,CYQQ,2022-12-31 00:00:00+00:00,2022-12-31 00:00:00+00:00,2022-12-31
24187791,ENY3800,E145,KORD,2022-12-31 00:00:00+00:00,2022-12-31 00:00:00+00:00,2022-12-31
24187792,VTE565,E145,KMQY,2022-12-31 00:00:00+00:00,2022-12-31 00:00:00+00:00,2022-12-31

In [13]:
PassengerNumber=pd.read_csv("PassengerNumber.csv")
PassengerNumber

   typecode  Passenger Capacity  Before Covid  During Covid  After Covid
0      A306                 266           239           172          239
1      A30B                 312           280           202          280
2      A310                 220           198           143          198
3      A318                 117           105            76          105
4     A319                  134           120            87          120
..      ...                 ...           ...           ...          ...
90     E145                  50            45            32           45
91     E170                  80            72            52           72
92     E175                  88            79            57           79
93     E190                 114           102            74          102
94     E195                 124           111            80          111

[95 rows x 5 columns]

In [14]:
#根据typecode合并
filtered_data_total = pd.merge(filtered_data, PassengerNumber, on='typecode', how='inner')
filtered_data_total_sort = filtered_data_total.sort_values(by='typecode')
filtered_data_total_sort

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
21620678,AHK391,A306,VHHH,2021-12-28 00:00:00+00:00,2021-12-28 00:00:00+00:00,2021-12-28,266,239,172,239
21627016,FDX2604,A306,KPHL,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627017,FDX2642,A306,KSEA,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627018,FDX2610,A306,KBOS,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627019,UPS612,A306,KSDF,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
22012735,DLA5YJ,E195,LIRQ,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012734,LOT2EU,E195,EPWA,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012733,AUA535E,E195,LOWW,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012731,DLA5YA,E195,EDDM,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
21968891,TAP483G,E195,LFMN,2022-02-20 00:00:00+00:00,2022-02-20 00:00:00+00:00,2022-02-20,124,111,80,111

In [15]:
filtered_data_clean = filtered_data_total_sort.dropna(subset=['Passenger Capacity'])
filtered_data_clean

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
21620678,AHK391,A306,VHHH,2021-12-28 00:00:00+00:00,2021-12-28 00:00:00+00:00,2021-12-28,266,239,172,239
21627016,FDX2604,A306,KPHL,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627017,FDX2642,A306,KSEA,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627018,FDX2610,A306,KBOS,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
21627019,UPS612,A306,KSDF,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
22012735,DLA5YJ,E195,LIRQ,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012734,LOT2EU,E195,EPWA,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012733,AUA535E,E195,LOWW,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
22012731,DLA5YA,E195,EDDM,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
21968891,TAP483G,E195,LFMN,2022-02-20 00:00:00+00:00,2022-02-20 00:00:00+00:00,2022-02-20,124,111,80,111

In [20]:
filtered_data_beforeCovid = filtered_data_clean[(filtered_data_clean['Date'] >= pd.to_datetime('2019-01-01').date()) & (filtered_data_clean['Date'] <= pd.to_datetime('2019-12-31').date())].reset_index(drop=True)
filtered_data_beforeCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,FDX1746,A306,KIND,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
1,FDX1713,A306,KIND,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
2,FDX1730,A306,KIND,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
3,UPS1126,A306,KRFD,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
4,FDX152,A306,KIND,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
6670150,AUA188,E195,EDDS,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
6670151,AUA2BD,E195,EDDT,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
6670152,AUA408G,E195,LFLL,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
6670153,DLA2MR,E195,LIMF,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
6670154,AUA5CV,E195,LSGG,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111

In [21]:
filtered_data_duringCovid = filtered_data_clean[(filtered_data_clean['Date'] >= pd.to_datetime('2020-01-01').date()) & (filtered_data_clean['Date'] <= pd.to_datetime('2021-12-31').date())].reset_index(drop=True)
filtered_data_duringCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,AHK391,A306,VHHH,2021-12-28 00:00:00+00:00,2021-12-28 00:00:00+00:00,2021-12-28,266,239,172,239
1,FDX1161,A306,KAFW,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
2,UPS636,A306,KSDF,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
3,UPS490,A306,KSDF,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
4,UPS1376,A306,KSDF,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
9140201,AUA5LE,E195,LOWW,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
9140202,DLH4NJ,E195,LKPR,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
9140203,LOT4NA,E195,EPWA,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
9140204,AEA1142,E195,LPPR,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
9140205,BRU867,E195,UMMS,2020-04-18 00:00:00+00:00,2020-04-18 00:00:00+00:00,2020-04-18,124,111,80,111

In [22]:
filtered_data_afterCovid = filtered_data_clean[(filtered_data_clean['Date'] >= pd.to_datetime('2022-01-01').date()) & (filtered_data_clean['Date'] <= pd.to_datetime('2022-12-31').date())].reset_index(drop=True)
filtered_data_afterCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,FDX2604,A306,KPHL,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
1,FDX2642,A306,KSEA,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
2,FDX2610,A306,KBOS,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
3,UPS612,A306,KSDF,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
4,FDX2654,A306,KSAN,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
6405527,DLA5YJ,E195,LIRQ,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
6405528,LOT2EU,E195,EPWA,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
6405529,AUA535E,E195,LOWW,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
6405530,DLA5YA,E195,EDDM,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
6405531,TAP483G,E195,LFMN,2022-02-20 00:00:00+00:00,2022-02-20 00:00:00+00:00,2022-02-20,124,111,80,111

# 计算疫情前

In [23]:
counts_beforeCovid = filtered_data_beforeCovid['origin'].value_counts()
result_beforeCovid = counts_beforeCovid.reset_index()
result_beforeCovid.columns = ['origin', 'Count']
result_beforeCovid.head(20)

   origin   Count
0    KORD  167184
1    KLAX  148987
2    KDFW  124394
3    KDEN  121257
4    EGLL  113144
5    KSFO  111463
6    EDDF  104566
7    KJFK  103447
8    KPHX  102865
9    KLAS   99422
10   EHAM   97915
11   LFPG   96354
12   KSEA   96271
13   YSSY   92010
14   EDDM   90016
15   OMDB   89813
16   KATL   85085
17   KBOS   80626
18   YMML   76704
19   LEMD   74444

In [24]:
origin_values_beforeCovid = result_beforeCovid['origin'].unique()
top_20_beforeCovid = origin_values_beforeCovid[:20]
top_20_beforeCovid

array(['KORD', 'KLAX', 'KDFW', 'KDEN', 'EGLL', 'KSFO', 'EDDF', 'KJFK',
       'KPHX', 'KLAS', 'EHAM', 'LFPG', 'KSEA', 'YSSY', 'EDDM', 'OMDB',
       'KATL', 'KBOS', 'YMML', 'LEMD'], dtype=object)

In [28]:
filtered_data_top20_beforeCovid = filtered_data_beforeCovid[filtered_data_beforeCovid['origin'].isin(top_20_beforeCovid)].reset_index(drop=True)
filtered_data_top20_beforeCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,UPS1302,A306,KDFW,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
1,UPS930,A306,KDFW,2019-11-01 00:00:00+00:00,2019-11-01 00:00:00+00:00,2019-11-01,266,239,172,239
2,FDX5041,A306,LFPG,2019-10-29 00:00:00+00:00,2019-10-29 00:00:00+00:00,2019-10-29,266,239,172,239
3,UPS2020,A306,KDFW,2019-10-29 00:00:00+00:00,2019-10-29 00:00:00+00:00,2019-10-29,266,239,172,239
4,UPS2691,A306,KLAS,2019-10-29 00:00:00+00:00,2019-10-29 00:00:00+00:00,2019-10-29,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
2075962,DLH9TX,E195,EDDM,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
2075963,DLH2AR,E195,EDDM,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
2075964,AEA34QJ,E195,LEMD,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
2075965,DLA12GY,E195,EDDM,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111
2075966,DLA78C,E195,EDDM,2019-11-06 00:00:00+00:00,2019-11-06 00:00:00+00:00,2019-11-06,124,111,80,111

In [27]:
total_passenger_beforeCovid = filtered_data_beforeCovid['Before Covid'].count()
total_passenger_beforeCovid

6670155

In [29]:
top20_passenger_beforeCovid = filtered_data_top20_beforeCovid['Before Covid'].count()
top20_passenger_beforeCovid

2075967

In [31]:
top20_passenger_beforeCovid_percentage = (top20_passenger_beforeCovid/total_passenger_beforeCovid)*100
top20_passenger_beforeCovid_percentage

31.123219775252597

# 计算疫情中

In [32]:
counts_duringCovid = filtered_data_duringCovid['origin'].value_counts()
result_duringCovid = counts_duringCovid.reset_index()
result_duringCovid.columns = ['origin', 'Count']
result_duringCovid.head(20)

   origin   Count
0    KATL  273214
1    KORD  247989
2    KDEN  224170
3    KDFW  217231
4    KLAX  189258
5    KPHX  180999
6    KCLT  166325
7    KSEA  151555
8    KLAS  148508
9    KJFK  126309
10   EHAM  112855
11   KEWR  110394
12   KSFO  109085
13   KDTW  108619
14   KPHL  108259
15   KMIA  107523
16   KBOS  103863
17   LFPG  101073
18   KFLL   99813
19   EDDF   99617

In [33]:
origin_values_duringCovid = result_duringCovid['origin'].unique()
top_20_duringCovid = origin_values_duringCovid[:20]
top_20_duringCovid

array(['KATL', 'KORD', 'KDEN', 'KDFW', 'KLAX', 'KPHX', 'KCLT', 'KSEA',
       'KLAS', 'KJFK', 'EHAM', 'KEWR', 'KSFO', 'KDTW', 'KPHL', 'KMIA',
       'KBOS', 'LFPG', 'KFLL', 'EDDF'], dtype=object)

In [34]:
filtered_data_top20_duringCovid = filtered_data_duringCovid[filtered_data_duringCovid['origin'].isin(top_20_duringCovid)].reset_index(drop=True)
filtered_data_top20_duringCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,UPS906,A306,KDEN,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
1,UPS9810,A306,KBOS,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
2,UPS2807,A306,KDEN,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
3,UPS2329,A306,KMIA,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
4,UPS562,A306,KDFW,2021-12-29 00:00:00+00:00,2021-12-29 00:00:00+00:00,2021-12-29,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
2986654,BRU864,E195,LFPG,2020-02-19 00:00:00+00:00,2020-02-19 00:00:00+00:00,2020-02-19,124,111,80,111
2986655,DLA28PX,E195,EDDF,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
2986656,DLH3UT,E195,EHAM,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
2986657,LOT3FE,E195,EDDF,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111
2986658,AUA3KD,E195,EHAM,2020-02-18 00:00:00+00:00,2020-02-18 00:00:00+00:00,2020-02-18,124,111,80,111

In [39]:
total_passenger_duringCovid = filtered_data_duringCovid['During Covid'].count()
total_passenger_duringCovid

9140206

In [40]:
top20_passenger_duringCovid = filtered_data_top20_duringCovid['During Covid'].count()
top20_passenger_duringCovid

2986659

In [41]:
top20_passenger_duringCovid_percentage = (top20_passenger_duringCovid/total_passenger_duringCovid)*100
top20_passenger_duringCovid_percentage

32.676057848149156

# 计算疫情后

In [42]:
counts_afterCovid = filtered_data_afterCovid['origin'].value_counts()
result_afterCovid = counts_afterCovid.reset_index()
result_afterCovid.columns = ['origin', 'Count']
result_afterCovid.head(20)

   origin   Count
0    KATL  166112
1    KORD  164816
2    KDEN  136847
3    KDFW  136451
4    KJFK  109322
5    KLAX  108022
6    KPHX  100681
7    KLAS   99021
8    EHAM   94762
9    KMCO   91806
10   KCLT   90399
11   KSEA   89926
12   EDDF   86480
13   KEWR   86021
14   LFPG   84090
15   EGLL   83911
16   KBOS   74999
17   KSFO   74993
18   LEMD   72185
19   KLGA   67510

In [43]:
origin_values_afterCovid = result_afterCovid['origin'].unique()
top_20_afterCovid = origin_values_afterCovid[:20]
top_20_afterCovid

array(['KATL', 'KORD', 'KDEN', 'KDFW', 'KJFK', 'KLAX', 'KPHX', 'KLAS',
       'EHAM', 'KMCO', 'KCLT', 'KSEA', 'EDDF', 'KEWR', 'LFPG', 'EGLL',
       'KBOS', 'KSFO', 'LEMD', 'KLGA'], dtype=object)

In [44]:
filtered_data_top20_afterCovid = filtered_data_afterCovid[filtered_data_afterCovid['origin'].isin(top_20_afterCovid)].reset_index(drop=True)
filtered_data_top20_afterCovid

,callsign,typecode,origin,day,DateTime,Date,Passenger Capacity,Before Covid,During Covid,After Covid
0,FDX2642,A306,KSEA,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
1,FDX2610,A306,KBOS,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
2,FDX2671,A306,KMCO,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
3,UPS609,A306,KORD,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
4,FDX1635,A306,KCLT,2022-02-08 00:00:00+00:00,2022-02-08 00:00:00+00:00,2022-02-08,266,239,172,239
...,...,...,...,...,...,...,...,...,...,...
2018349,DLA8060,E195,EDDF,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
2018350,DLA6CW,E195,EDDF,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
2018351,AUA372A,E195,EHAM,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
2018352,DLA3NW,E195,EDDF,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111
2018353,AEA4049,E195,LEMD,2022-10-13 00:00:00+00:00,2022-10-13 00:00:00+00:00,2022-10-13,124,111,80,111

In [45]:
total_passenger_afterCovid = filtered_data_afterCovid['After Covid'].count()
total_passenger_afterCovid

6405532

In [46]:
top20_passenger_afterCovid = filtered_data_top20_afterCovid['After Covid'].count()
top20_passenger_afterCovid

2018354

In [47]:
top20_passenger_afterCovid_percentage = (top20_passenger_afterCovid/total_passenger_afterCovid)*100
top20_passenger_afterCovid_percentage

31.50954518687909

# top 50

前

In [48]:
origin_values_beforeCovid = result_beforeCovid['origin'].unique()
top_50_beforeCovid = origin_values_beforeCovid[:50]
top_50_beforeCovid

filtered_data_top50_beforeCovid = filtered_data_beforeCovid[filtered_data_beforeCovid['origin'].isin(top_50_beforeCovid)].reset_index(drop=True)

In [49]:
total_passenger_beforeCovid

6670155

In [50]:
top50_passenger_beforeCovid = filtered_data_top50_beforeCovid['Before Covid'].count()
top50_passenger_beforeCovid

3684419

In [51]:
top50_passenger_beforeCovid_percentage = (top50_passenger_beforeCovid/total_passenger_beforeCovid)*100
top50_passenger_beforeCovid_percentage

55.237382039847645

中

In [52]:
origin_values_duringCovid = result_duringCovid['origin'].unique()
top_50_duringCovid = origin_values_duringCovid[:50]
top_50_duringCovid

filtered_data_top50_duringCovid = filtered_data_duringCovid[filtered_data_duringCovid['origin'].isin(top_50_duringCovid)].reset_index(drop=True)

In [53]:
total_passenger_duringCovid

9140206

In [54]:
top50_passenger_duringCovid = filtered_data_top50_duringCovid['During Covid'].count()
top50_passenger_duringCovid

5017481

In [55]:
top50_passenger_duringCovid_percentage = (top50_passenger_duringCovid/total_passenger_duringCovid)*100
top50_passenger_duringCovid_percentage

54.89461616072986

后

In [56]:
origin_values_afterCovid = result_afterCovid['origin'].unique()
top_50_afterCovid = origin_values_afterCovid[:50]
top_50_afterCovid

filtered_data_top50_afterCovid = filtered_data_afterCovid[filtered_data_afterCovid['origin'].isin(top_50_afterCovid)].reset_index(drop=True)

In [57]:
total_passenger_afterCovid

6405532

In [58]:
top50_passenger_afterCovid = filtered_data_top50_afterCovid['After Covid'].count()
top50_passenger_afterCovid

3509453

In [59]:
top50_passenger_afterCovid_percentage = (top50_passenger_afterCovid/total_passenger_afterCovid)*100
top50_passenger_afterCovid_percentage

54.78784588071686

# top 20-50

前

In [60]:
origin_values_beforeCovid = result_beforeCovid['origin'].unique()
top_20to50_beforeCovid = origin_values_beforeCovid[20:50]
top_20to50_beforeCovid

filtered_data_top20to50_beforeCovid = filtered_data_beforeCovid[filtered_data_beforeCovid['origin'].isin(top_20to50_beforeCovid)].reset_index(drop=True)

In [61]:
total_passenger_beforeCovid

6670155

In [62]:
top20to50_passenger_beforeCovid = filtered_data_top20to50_beforeCovid['Before Covid'].count()
top20to50_passenger_beforeCovid

1608452

In [63]:
top20to50_passenger_beforeCovid_percentage = (top20to50_passenger_beforeCovid/total_passenger_beforeCovid)*100
top20to50_passenger_beforeCovid_percentage

24.114162264595052

中

In [64]:
origin_values_duringCovid = result_duringCovid['origin'].unique()
top_20to50_duringCovid = origin_values_duringCovid[20:50]
top_20to50_duringCovid

filtered_data_top20to50_duringCovid = filtered_data_duringCovid[filtered_data_duringCovid['origin'].isin(top_20to50_duringCovid)].reset_index(drop=True)

In [65]:
total_passenger_duringCovid

9140206

In [66]:
top20to50_passenger_duringCovid = filtered_data_top20to50_duringCovid['During Covid'].count()
top20to50_passenger_duringCovid

2030822

In [67]:
top20to50_passenger_duringCovid_percentage = (top20to50_passenger_duringCovid/total_passenger_duringCovid)*100
top20to50_passenger_duringCovid_percentage

22.2185583125807

后

In [72]:
origin_values_afterCovid = result_afterCovid['origin'].unique()
top_20to50_afterCovid = origin_values_afterCovid[20:50]
top_20to50_afterCovid

filtered_data_top20to50_afterCovid = filtered_data_afterCovid[filtered_data_afterCovid['origin'].isin(top_20to50_afterCovid)].reset_index(drop=True)

In [73]:
total_passenger_afterCovid

6405532

In [74]:
top20to50_passenger_afterCovid = filtered_data_top20to50_afterCovid['After Covid'].count()
top20to50_passenger_afterCovid

1491099

In [75]:
top20to50_passenger_afterCovid_percentage = (top20to50_passenger_afterCovid/total_passenger_afterCovid)*100
top20to50_passenger_afterCovid_percentage

23.278300693837764